/** Variables **/
/** Primary Colors **/
/** Neutral Colors **/
/** Globals **/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  margin: 0 auto;
  width: 100%;
}

img {
  width: 100px;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.top-section-background {
  background-image: url("./images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-color: #edfaff;
  height: 780px;
  padding-top: 25px;
}

/** Header **/
header {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 5%;
}
header img {
  height: 17px;
}
header a {
  color: hsl(192deg, 100%, 9%);
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  background-color: white;
  padding: 6px 26px;
  border-radius: 30px;
  border: 1px solid #f2f2f2;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 26px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 26px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 26px -11px rgba(0, 0, 0, 0.75);
}

/** Section 1 **/
.section-1 {
  padding: 0 5% 0 5%;
  text-align: center;
}

.section-1-info {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 60px;
}
.section-1-info h1 {
  color: hsl(192deg, 100%, 9%);
  font-size: 25px;
  margin-bottom: 30px;
  line-height: 35px;
}
.section-1-info p {
  color: hsl(192deg, 100%, 9%);
  line-height: 28px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 18px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.section-1-info a {
  color: white;
  font-size: 12px;
  font-weight: 600;
  background-color: hsl(322deg, 100%, 66%);
  border-radius: 30px;
  padding: 10px 60px;
  text-decoration: none;
}
.section-1-info a:hover {
  background-color: #ff9bdb;
}

.section-1 img {
  width: 90%;
}

/** Section 2 **/
.section-2 {
  padding: 0 5% 0 5%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.section-2-info {
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  padding: 50px 45px 25px 45px;
  margin-bottom: 20px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 0px 13px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -9px rgba(0, 0, 0, 0.75);
}
.section-2-info img {
  width: 100%;
}
.section-2-info h3 {
  font-family: "Poppins", sans-serif;
  color: hsl(192deg, 100%, 9%);
  margin-top: 50px;
  margin-bottom: 20px;
}
.section-2-info p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: hsl(208deg, 11%, 55%);
}

/** Community Div **/
.community {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  background-color: white;
  padding: 40px 50px;
  position: relative;
  top: 70px;
  margin-bottom: 20px;
  width: 93%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 13px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -9px rgba(0, 0, 0, 0.75);
}
.community h3 {
  color: hsl(192deg, 100%, 9%);
  margin-bottom: 40px;
  font-size: 18px;
}
.community a {
  color: white;
  font-size: 11.5px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: hsl(322deg, 100%, 66%);
  border-radius: 30px;
  padding: 13px 50px;
  text-decoration: none;
  -webkit-box-shadow: 0px 7px 13px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 7px 13px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 7px 13px -11px rgba(0, 0, 0, 0.75);
}
.community a:hover {
  background-color: #ff9bdb;
}

/** Footer Contact**/
footer {
  background-color: #08242c;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  padding-top: 150px;
}
footer p {
  color: white;
  font-size: 18px;
}
footer a {
  color: white;
}
footer img {
  width: 180px;
  height: 28px;
  margin-bottom: 20px;
}

.contact-container {
  margin-bottom: 60px;
  width: 90%;
  margin: 0 auto;
}

.footer-contact {
  display: flex;
  margin-bottom: 30px;
}
.footer-contact img {
  height: 20px;
  width: 20px;
  margin-right: 25px;
  margin-top: 4px;
}

/** Footer Links **/
.footer-link-container {
  width: 90%;
  margin: 0 auto;
}

.footer-link {
  display: flex;
  flex-direction: column;
}
.footer-link a {
  margin-bottom: 20px;
  text-decoration: none;
}

/** Footer Socials **/
.socials {
  display: flex;
  flex-direction: column;
}
.socials p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 50px;
}

.socials-image {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}
.socials-image a {
  text-decoration: none;
}
.socials-image img {
  color: white;
  height: 30px;
  width: 30px;
}

/** Media Query Desktop **/
@media (min-width: 375px) {
  /** Globals **/
  .top-section-background {
    background-image: url("./images/bg-hero-desktop.svg");
  }
  /** Header **/
  header {
    margin-top: 30px;
  }
  header img {
    width: 200px;
    height: 30px;
  }
  header a {
    padding: 18px 70px;
    font-size: 18px;
  }
  /** Section 1 **/
  .section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section-1 img {
    width: 650px;
  }
  .section-1-info {
    margin: 0;
    text-align: left;
    width: 600px;
  }
  .section-1-info h1, .section-1-info p, .section-1-info a {
    margin: 0;
    margin-bottom: 30px;
  }
  .section-1-info h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .section-1-info p {
    width: 550px;
    margin-bottom: 50px;
  }
  .section-1-info a {
    padding: 20px 60px;
    font-size: 15px;
  }
  /** Section 2 **/
  .section-2-info {
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: left;
    align-items: center;
  }
  .section-2-info .first {
    order: 2;
  }
  .section-2-info .second {
    width: 500px;
  }
  .section-2-info img {
    width: 400px;
  }
  .section-2-info h3 {
    font-size: 30px;
  }
  .section-2-info p {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 60px;
  }
  /** Community **/
  .community {
    width: 800px;
    height: 250px;
    top: 90px;
  }
  .community h3 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .community a {
    padding: 20px 80px;
    font-size: 15px;
  }
  .community-content {
    margin-top: 30px;
  }
  /** Footer **/
  footer {
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  footer img {
    width: 220px;
    height: 33px;
  }
  /** Footer Contact **/
  .contact-container {
    width: 600px;
  }
  .contact-container p {
    font-size: 16.5px;
    line-height: 25px;
  }
  /** Footer Links **/
  .footer-link-container {
    display: flex;
    justify-content: center;
    gap: 130px;
  }
  /** Socials **/
  .socials {
    width: 500px;
  }
  .socials p {
    text-align: left;
    margin-top: 150px;
  }
  .socials-image {
    margin-top: 140px;
    justify-content: flex-start;
  }
}

/*# sourceMappingURL=styles.css.map */
